header {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid $border-primary;

  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-dark {
    .navbar-brand {
      color: #fff;
      font-family: $f-primary;
      font-weight: bold;
    }
  }

  .navbar-logo {
    margin-right: 0.5rem;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $accent-primary;
    color: #fff;
  }
}
