@import "~highlight.js/scss/atom-one-dark.scss";

.markdown {
  position: relative;
  display: block;
  padding: 4rem;

  @include media-breakpoint-down(md) {
    padding: 1rem;
  }

  img {
    max-width: 100%;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  h1 {
    border-bottom: 1px solid $border-primary;
  }

  h2 {
    margin-top: 3rem;
  }

  h3 {
    margin-top: 2rem;
  }

  h4 {
    margin-top: 1rem;
  }

  pre {
    padding: 1rem;
    background-color: #222222;
    border-radius: 6px;
    font-size: 85%;
    line-height: 1.45;

    code {
    }
  }

  code:not(.hljs) {
    margin: 0;
    padding: 0.2em 0.4em;
    background-color: $background-secondary;
    color: #c9d1d9;
    border-radius: 6px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 85%;
  }

  .hljs {
    background: transparent;
  }
}
