.sidebar {
  min-width: 240px;
  border-right: 1px solid $border-primary;

  @include media-breakpoint-down(md) {
    min-width: 0px;

    .nav-item {
      .nav-title {
        display: none;
      }
      .me-2 {
        margin-right: 0rem !important;
      }
    }
  }

  .nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $accent-primary;
  }
}
